:host {
  display: flex;
}

.calendar {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dash-border-1);
  padding: var(--dash-spacing-3);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: var(--dash-spacing-5);

    .title {
      margin: 0;
    }
  }

  .container {
    flex: auto;
    min-width: 0;
    min-height: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 0fr repeat(5, 1fr);
    column-gap: 1px;
    row-gap: 1px;
    width: 100%;
    background-color: var(--dash-border-1);
    border: 1px solid var(--dash-border-1);

    .week-day-cell {
      background-color: var(--dash-background-1);
      padding: var(--dash-spacing-1);
      text-align: center;
    }

    .day-cell {
      background-color: var(--dash-background-1);
      padding: var(--dash-spacing-1);
      overflow: hidden;
    }

    .faded {
      background-color: var(--dash-background-3);
      color: var(--dash-text-color-3);
    }
  }
}
