:host {
  display: block;
}

.calendar {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dash-border-1);
  padding: var(--dash-spacing-3);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 0;
      padding-block-end: var(--dash-spacing-3);
    }
  }

  .container {
    flex: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1px;
    row-gap: 1px;
    width: 100%;
    background-color: var(--dash-border-1);
    border: 1px solid var(--dash-border-1);

    .week-day-cell {
      background-color: var(--dash-background-1);
    }

    .day-cell {
      background-color: var(--dash-background-1);
      min-width: var(--dash-spacing-12);
      min-height: var(--dash-spacing-12);
    }

    .faded {
      background-color: var(--dash-background-3);
      color: var(--dash-text-color-3);
    }
  }
}
