:host {
  display: block;
}

.calendar {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dash-border-1);
  padding: var(--dash-spacing-3);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 0;
    }
  }

  table.container {
    table-layout: fixed;
    width: 100%;

    th,
    td {
      width: 50%;
    }

    td {
      border: 1px black solid;
    }

    td.faded {
      opacity: 0.5;
    }
  }
}
