:host {
  display: block;
}

.color-swatch-container {
  display: grid;
  flex: auto;
  background-color: var(--dash-background-2);
  padding: var(--dash-spacing-1);
}

dash-color-swatch {
  align-self: center;
  justify-self: center;
}
