:host {
  display: flex;

  width: 24px;
  height: 24px;

  &([scale="s"]) {
    width: 16px;
    height: 16px;
  }

  &([scale="l"]) {
    width: 32px;
    height: 32px;
  }

  &([scale="xl"]) {
    width: 48px;
    height: 48px;
  }
}

div {
  display: flex;
  justify-content: center;

  svg {
    border-radius: var(--dash-icon-border-radius, 0px);
  }
}

:host([rounded]) img {
  border-radius: var(--dash-icon-border-radius, 0px);
}
