:host {
  --dash-icon-size: 20px;
  display: flex;

  width: var(--dash-icon-size);
  height: var(--dash-icon-size);
}

:host([scale='s']) {
  --dash-icon-size: 16px;
}

:host([scale='l']) {
  --dash-icon-size: 32px;
}

:host([scale='xl']) {
  --dash-icon-size: 48px;
}

div {
  display: flex;
  justify-content: center;

  svg {
    border-radius: var(--dash-icon-border-radius, 0px);
  }
}

img {
  width: var(--dash-icon-size);
  height: var(--dash-icon-size);
}

:host([rounded]) img {
  border-radius: var(--dash-icon-border-radius, 0px);
}
