@import '../../../assets/styles/_focus-outline.css';

:host {
  display: flex;
}

input[type='checkbox'] {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
}

span {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  border: 1px solid rgba(var(--dash-rgb-brand), 0.25);
  background-color: var(--dash-background-3);
  border-radius: 15px;
  transition: background var(--dash-transition-time-fast) linear;
  cursor: pointer;

  &:focus-visible {
    @extend .focus-outline;
  }
}

span:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border-radius: 15px;
  border-width: 3px;
  border-color: var(--dash-brand);
  background-color: #ffffff;
  border-style: solid;
  transition: left var(--dash-transition-time-fast) ease-out;
}

input:checked + span {
  background-color: var(--dash-brand);
}

input:checked + span:after {
  border-color: var(--dash-brand);
}

input:checked + span:after {
  left: var(--dash-spacing-6);
}
