@import '../../../assets/styles/_focus-outline.css';

:host {
  display: block;

  &([scale='l']) {
    .color-swatch {
      width: var(--dash-spacing-10);
      height: var(--dash-spacing-10);
    }
  }
}

.color-swatch {
  margin: var(--dash-spacing-1);
  border-radius: var(--dash-spacing-full);
  border: none;
  width: var(--dash-spacing-6);
  height: var(--dash-spacing-6);
  cursor: pointer;
  background: var(--dash-color-swatch-background);
  border: solid 2px var(--dash-text-color-1);

  &:hover {
    filter: brightness(80%);
  }

  &:focus-visible {
    @extend .focus-outline;
  }

  &:active {
    filter: brightness(75%);
  }
}
