@import '../../assets/styles/_app.css';
@import '../../assets/styles/_focus-outline.css';

:host {
  display: inline-block;
  --dash-icon-button-padding: var(--dash-spacing-1);
  --dash-icon-color: var(--dash-text-color-1);
  --dash-icon-button-height: var(--dash-spacing-8);
  --dash-icon-button-width: var(--dash-spacing-8);
  line-height: 1;
}

:host([scale='s']) {
  --dash-icon-button-height: var(--dash-spacing-6);
  --dash-icon-button-width: var(--dash-spacing-6);
}

:host([scale='l']) {
  --dash-icon-button-height: var(--dash-spacing-12);
  --dash-icon-button-width: var(--dash-spacing-12);
}

:host([scale='xl']) {
  --dash-icon-button-height: var(--dash-spacing-16);
  --dash-icon-button-width: var(--dash-spacing-16);
}

:host([loading]) {
  dash-icon,
  .content {
    visibility: hidden;
  }
}

:host([disabled]) {
  --dash-icon-color: var(--dash-text-color-3);

  button {
    cursor: initial;
    filter: brightness(0.9);
  }
}

:host(:not([loading]):not([disabled])) {
  button {
    &:hover {
      background-color: var(--dash-bg-darken-1);
    }

    &:focus-visible {
      @extend .focus-outline;
    }

    &:active {
      background-color: var(--dash-bg-darken-2);
    }
  }
}

:host([rounded]) {
  button {
    border-radius: var(--dash-spacing-full);
  }
}

button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: var(--dash-border-radius);
  padding: var(--dash-icon-button-padding);
  transition: background-color var(--dash-transition-time-fast) ease-out;
  border-color: transparent;
  border-width: 1px;
  background-color: transparent;
  width: var(--dash-icon-button-width);
  height: var(--dash-icon-button-height);
}

dash-icon {
  color: var(--dash-icon-color);
}

dash-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

dash-tooltip {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
