:host {
  display: block;

  &([layout='inline']) label {
    flex-direction: row;
    justify-content: space-between;
  }
}

label {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  margin-top: var(--dash-spacing-1);
}