:host {
  display: block;

  &([layout='inline']) label {
    flex-direction: row;
    justify-content: space-between;
  }
}

label {
  display: flex;
  flex-direction: column;
  font-size: var(--dash-font-size-1);
  gap: var(--dash-spacing-2-half);
}
