dash-text-editor {
  position: relative;

  &.loading {
    .tox.tox-tinymce {
      opacity: 0;
      pointer-events: none;
    }
  }

  .tox {
    &.tox-tinymce {
      transition: filter var(--dash-scrim-transition);
      width: inherit;
      max-width: inherit;
      transition: opacity ease-in-out 45ms;

      .tox-heading-input {
        padding: var(--dash-spacing-3) var(--dash-spacing-4) var(--dash-spacing-1) var(--dash-spacing-4);
        font-size: 1.5rem;
        width: 100%;
      }
    }

    .tox-tbtn {
      border-radius: var(--dash-border-radius);

      &:active,
      &:focus:not(.tox-tbtn--disabled) {
        background-color: initial;
      }

      &:not(.tox-tbtn--enabled):hover {
        background-color: var(--dash-bg-darken-1);
      }

      &.tox-tbtn--enabled {
        background-color: var(--dash-bg-darken-3);

        &:hover {
          background-color: var(--dash-bg-darken-4);
        }
      }
    }

    .tox-mbtn {
      border-radius: var(--dash-border-radius);

      &:active,
      &:focus:not(:disabled) {
        background-color: initial;
      }

      &.tox-mbtn--active {
        background-color: var(--dash-bg-darken-3);

        &:hover {
          background-color: var(--dash-bg-darken-4);
        }
      }

      &:hover:not(:disabled):not(.tox-mbtn--active) {
        background-color: var(--dash-bg-darken-1);
      }
    }

    .tox-tbtn.tox-fullscreen-btn {
      margin-left: auto;
    }
  }

  dash-loader {
    position: absolute;
    top: 0;
  }

  .text-editor-loading {
    visibility: hidden;
  }
}

.global-scrim dash-text-editor .tox.tox-tinymce {
  filter: brightness(var(--dash-scrim-opacity));
  pointer-events: none;
}

:root[data-theme='dark'] dash-text-editor .tox.tox-tinymce .tox-heading-input {
  background-color: var(--dash-background-1);
  color: var(--dash-text-color-1);
}
