:host {
  display: block;

  &([active]) {
    .main-content-wrapper {
      display: none;
    }
  }
}

.main-content-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.drill-content-wrapper {
  animation: fadeIn ease-in var(--dash-transition-time-fast);
  animation-fill-mode: forwards;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--dash-spacing-2);

  @media only screen and (max-width: 600px) {
    padding: var(--dash-spacing-2) 0;
  }
}

.heading {
  padding: 0 var(--dash-spacing-3);
}

.heading-end {
  width: var(--dash-spacing-8);
  height: var(--dash-spacing-8);
}

@keyframes fadeIn {
  0% {
    filter: opacity(0);
    transform: translateX(var(--dash-spacing-6));
  }
  100% {
    filter: opacity(1);
    transform: translateX(0);
  }
}
