@import '../../assets/styles/_scrollbar.css';

:host {
  display: block;
}

.container {
  overflow: auto;
  --dash-list-drag-drop-transition-time: 1s;

  &.dragging {
    ::slotted(dash-list-item) {
      pointer-events: none;
    }
  }
}
