@import '../../assets/styles/_scrollbar.css';

:host {
  display: block;
}

:host([max-items]) {
  overflow: auto;
}

.container {
  &.dragging {
    ::slotted(dash-list-item) {
      transition: transform var(--dash-transition-time-fast) ease-out;
      pointer-events: none;
    }
  }
}
