dash-route-notes {
  dash-nav-bar {
    .theme-toggle {
      margin-inline-end: var(--dash-spacing-3);
    }
  }

  dash-card-icon {
    width: 100%;
  }

  .notes-filter {
    flex: auto;
    max-width: var(--dash-spacing-72);
  }

  .notes-search-container {
    display: flex;
    margin-bottom: var(--dash-spacing-3);

    .sort-dropdown {
      margin-inline-start: var(--dash-spacing-3);
      --dash-dropdown-min-width: var(--dash-spacing-48);
    }
  }

  .add-note-button {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .add-note-fab {
    position: absolute;
    right: var(--dash-spacing-12);
    bottom: var(--dash-spacing-12);
    display: none;

    @media only screen and (max-width: 1200px) {
      display: block;
      right: var(--dash-spacing-6);
      bottom: var(--dash-spacing-6);
    }
  }

  .note-overlay {
    z-index: 10;
  }

  .note-message-wrapper {
    display: flex;
    justify-content: center;
    margin-top: var(--dash-spacing-16);
    display: flex;
    flex-direction: column;
    align-items: center;

    .note-message {
      font-size: var(--dash-font-size-6);
      margin-bottom: var(--dash-spacing-6);
      
      @media only screen and (max-width: 768px) {
        font-size: var(--dash-font-size-5);
      }
    }
  }
}
