dash-label-select {
  .container {
    padding: var(--dash-spacing-2);
    min-width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    background-color: var(--dash-background-2);
    border-radius: var(--dash-border-radius);
    overflow: hidden;

    .labels-list {
      overflow-y: auto;
    }

    @media only screen and (max-width: 600px) {
      min-width: 175px;
      min-height: 175px;
    }
  }

  .no-labels {
    font-size: var(--dash-font-size-1);
    padding: var(--dash-spacing-3);
    text-align: center;
  }

  .add-label {
    padding-top: var(--dash-spacing-1);
    margin-top: auto;
  }

  dash-filter {
    margin-bottom: var(--dash-spacing-3);
  }

  dash-label-color-picker {
    flex: auto;
    display: flex;
    flex-direction: column;
  }

  .label-text {
    overflow-wrap: anywhere;
    word-break: normal;
  }

  dash-filter {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .add-label-message {
    display: flex;
    align-items: center;

    dash-icon {
      margin-inline-end: var(--dash-spacing-2);
    }
  }
}
