@import '../../assets/styles/_focus-outline.css';

:host {
  display: inline-block;
  line-height: 1;
}

:host([scale='s']) {
  .color-swatch {
    width: var(--dash-spacing-3);
    height: var(--dash-spacing-3);
  }
}

:host([scale='l']) {
  .color-swatch {
    width: var(--dash-spacing-8);
    height: var(--dash-spacing-8);
  }
}

:host([selected]) {
  .color-swatch {
    border: 2px solid white;
  }
}

dash-icon-button {
  --dash-icon-button-padding: var(--dash-spacing-1);
}

dash-icon {
  color: white;
}

.color-swatch {
  border: 2px solid transparent;
  margin: var(--dash-spacing-1);
  border-radius: var(--dash-spacing-full);
  border: none;
  width: var(--dash-spacing-5);
  height: var(--dash-spacing-5);
  background: var(--dash-color-swatch-background);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
