@import '../../assets/styles/_focus-outline.css';

:host {
  display: block;

  &([scale='l']) {
    .color-swatch {
      width: var(--dash-spacing-8);
      height: var(--dash-spacing-8);
    }
  }
}

dash-button {
  --dash-button-padding: 0;
}

.color-swatch {
  margin: var(--dash-spacing-1);
  border-radius: var(--dash-spacing-full);
  border: none;
  width: var(--dash-spacing-6);
  height: var(--dash-spacing-6);
  background: var(--dash-color-swatch-background);
}
