@import '../../assets/styles/_focus-outline.css';

:host {
  display: inline-block;
  line-height: 1;

  &([scale='l']) {
    .color-swatch {
      width: var(--dash-spacing-8);
      height: var(--dash-spacing-8);
    }

    dash-icon-button {
      width: var(--dash-spacing-12);
      height: var(--dash-spacing-12);
    }
  }

  &([selected]) {
    .color-swatch {
      border: 2px solid white;
    }
  }
}

dash-icon-button {
  --dash-icon-button-padding: var(--dash-spacing-1);
  width: var(--dash-spacing-8);
  height: var(--dash-spacing-8);
}

dash-icon {
  color: white;
}

.color-swatch {
  border: 2px solid transparent;
  margin: var(--dash-spacing-1);
  border-radius: var(--dash-spacing-full);
  border: none;
  width: var(--dash-spacing-4);
  height: var(--dash-spacing-4);
  background: var(--dash-color-swatch-background);
  display: flex;
  align-items: center;
  margin: auto;
}
