:host {
  display: flex;

  @media only screen and (max-width: 768px) {
    position: relative;
    width: var(--dash-spacing-12);
    min-width: var(--dash-spacing-12);
    z-index: var(--dash-z-index-aside);

    aside {
      position: absolute;
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
  }
}

:host([collapsed]) {
  aside {
    width: var(--dash-spacing-12);
    min-width: var(--dash-spacing-12);

    @media only screen and (max-width: 768px) {
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  width: var(--dash-spacing-48);
  min-width: var(--dash-spacing-48);
  background-color: var(--dash-background-1);
  padding: var(--dash-spacing-3) var(--dash-spacing-2);
  transition: width var(--dash-transition-time-fast) ease-out, box-shadow var(--dash-transition-time-fast) ease-in-out;
  overflow: auto;
}

.backdrop {
  display: none;

  @media only screen and (max-width: 768px) {
    display: initial;
    position: absolute;
    height: 100%;
    width: 100vw;
    pointer-events: all;
  }
}
