:host {
  margin: var(--dash-spacing-4);
  display: block;

  &([sticky-header]) {
    header {
      position: sticky;
      top: 0;
      z-index: var(--dash-z-index-section-header);
    }
  }
}

header {
  font-size: var(--dash-font-size-3);
  padding: var(--dash-spacing-2) 0;
  margin-bottom: var(--dash-spacing-2);
  background-color: var(--dash-background-1);
}
