:host {
  display: block;
}

.items-container {
  display: flex;
  justify-content: center;
  border: 1px solid var(--dash-border-1);
}

.nav-footer {
  display: flex;
  align-items: center;
}

.move-left {
  margin-inline-start: auto;
  margin-inline-end: var(--dash-spacing-3);
}
.move-right {
  margin-inline-end: auto;
  margin-inline-start: var(--dash-spacing-3);
}

.indicator-button {
  width: var(--dash-spacing-6);
  height: var(--dash-spacing-6);
}

.indicator {
  background-color: var(--dash-text-color-3);
  width: var(--dash-spacing-3);
  height: var(--dash-spacing-3);
  border-radius: var(--dash-spacing-full);
}

.indicator.active {
  outline: 1px solid var(--dash-brand);
  outline-offset: 2px;
  background-color: var(--dash-brand);
}
