:host {
  display: block;
}

.items-container {
  border: 1px solid var(--dash-border-1);
}

.nav-footer {
  display: flex;
  align-items: center;
}

.move-left {
  margin-inline-start: auto;
  margin-inline-end: var(--dash-spacing-3);
}
.move-right {
  margin-inline-end: auto;
  margin-inline-start: var(--dash-spacing-3);
}
