:host {
  display: block;
  position: relative;
  --dash-dropdown-min-width: var(--dash-spacing-32);
}

.container {
  border-radius: var(--dash-border-radius);
  box-shadow: var(--dash-box-shadow);
  background-color: var(--dash-background-2);
  min-width: var(--dash-dropdown-min-width);
  border: var(--dash-border-style-1);
  padding: var(--dash-spacing-3);
}
