:host {
  display: block;
}

dash-input {
  min-width: var(--dash-spacing-24);
}

dash-dropdown {
  --dash-dropdown-max-height: var(--dash-spacing-60);
  --dash-dropdown-padding: var(--dash-spacing-3);
}
