@import '../../assets/styles/_app.css';
@import '../../assets/styles/_focus-outline.css';

:host {
  display: inline-block;
  --dash-button-background-color: unset;
  --dash-button-background-color-hover: var(--dash-bg-darken-1);
  --dash-button-background-color-active: var(--dash-bg-darken-2);
  --dash-button-padding: var(--dash-spacing-1) var(--dash-spacing-2);

  &([status="success"]) {
    --dash-button-background-color: var(--dash-success);
    --dash-button-background-color-hover: var(--dash-success-hover);
    --dash-button-background-color-active: var(--dash-success-active);
  }

  &([status="error"]) {
    --dash-button-background-color: var(--dash-danger);
    --dash-button-background-color-hover: var(--dash-danger-hover);
    --dash-button-background-color-active: var(--dash-danger-active);
  }

  &([disabled]) {
    button {
      cursor: initial;
      color: var(--dash-text-color-2);
      filter: brightness(0.9);
    }
  }

  &(:not([disabled])) {
    button {
      &:hover {
        background-color: var(--dash-button-background-color-hover);
      }

      &:focus-visible {
        @extend .focus-outline;
      }

      &:active {
        background-color: var(--dash-button-background-color-active);
      }
    }
  }

  &([scale='s']) {
    button {
      height: var(--dash-spacing-6);
      --dash-button-padding: var(--dash-spacing-half) var(--dash-spacing-1-half);
      font-size: var(--dash-font-size-1);
    }

    dash-icon {
      --dash-icon-size: 14px;
      margin-inline-end: var(--dash-spacing-1);
    }
  }

  &([scale='l']) {
    button {
      height: var(--dash-spacing-12);
      --dash-button-padding: var(--dash-spacing-2) var(--dash-spacing-4);
      font-size: var(--dash-font-size-4);
    }

    dash-icon {
      --dash-icon-size: 18px;
      margin-inline-end: var(--dash-spacing-3);
    }
  }
}

button {
  background-color: var(--dash-button-background-color);
  padding: var(--dash-button-padding);
  height: var(--dash-spacing-8);
  width: 100%;
  border-radius: var(--dash-border-radius);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: none;
  color: var(--dash-text-color-1);
  text-align: left;
  overflow: hidden;
  transition: background-color var(--dash-transition-time-fast) ease-out;
}

dash-icon {
  --dash-icon-size: 16px;
  margin-inline-end: var(--dash-spacing-2);
  align-self: center;
}
