:host {
  display: block;
}

.container {
  display: flex;
  align-items: center;
}

dash-dropdown {
  display: inline-flex;
  margin-inline-end: var(--dash-spacing-2);
}

dash-inline-edit {
  flex: auto;
  margin-inline-end: var(--dash-spacing-2);
}

.delete-button {
  margin: 0 var(--dash-spacing-2);
}

.delete-confirm {
  padding: var(--dash-spacing-1);
}

.delete-dropdown {
  --dash-dropdown-min-width: 0;
}
