:host {
  display: block;
  position: absolute;
  pointer-events: none;
  color: var(--dash-text-color-1);
}

:host([scale='s']) {
  .tooltip {
    padding: var(--dash-spacing-1);
    font-size: var(--dash-font-size-0);
  }

  &([arrow]) {
    .tooltip {
      &::after {
        width: var(--dash-spacing-2);
        height: var(--dash-spacing-2);
      }
    }
  }
}

:host([scale='s'][arrow]) {
  .tooltip {
    &::after {
      width: var(--dash-spacing-2);
      height: var(--dash-spacing-2);
    }
  }
}

:host([scale='l']) {
  .tooltip {
    padding: var(--dash-spacing-3);
    font-size: var(--dash-font-size-2);
  }
}

.tooltip {
  position: relative;
  padding: var(--dash-spacing-2);
  font-size: var(--dash-font-size-1);
  font-weight: var(--dash-font-weight-bold);
  border-radius: var(--dash-border-radius);
  background-color: var(--dash-background-2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  pointer-events: none;
}

:host([arrow]) {
  .tooltip {
    &::after {
      content: '';
      position: absolute;
      width: var(--dash-spacing-3);
      height: var(--dash-spacing-3);
      background-color: var(--dash-background-2);
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
