:host {
  display: block;
  --dash-input-padding: var(--dash-spacing-1) var(--dash-spacing-2);
  --dash-input-font-size: var(--dash-font-size-1);

  &([icon]) input {
    padding-left: var(--dash-spacing-2);
  }

  &([scale='s']) {
    --dash-input-padding: var(--dash-spacing-half) var(--dash-spacing-1-half);
    --dash-input-font-size: var(--dash-font-size-0);
  }

  &([scale='l']) {
    --dash-input-padding: var(--dash-spacing-3) var(--dash-spacing-4);
    --dash-input-font-size: var(--dash-font-size-4);

    .wrapper {
      border: var(--dash-border-style-1);

      &:focus-within {
        border: var(--dash-border-style-brand);
      }
    }

    dash-icon-button {
      right: calc(-1 * var(--dash-spacing-2));
    }
  }

  &([value][clearable]) {
    .input-wrapper {
      padding-inline-end: var(--dash-spacing-6);
    }
  }

  &([value][clearable][scale="l"]) {
    .input-wrapper {
      padding-inline-end: var(--dash-spacing-8);
    }
  }
}

input {
  background-color: var(--dash-background-2);
  color: var(--dash-text-color-1);
  flex-grow: 1;
  border: none;
  min-width: 0;
  font-size: var(--dash-input-font-size);
  height: var(--dash-spacing-5);

  &:focus-visible {
    outline: none;
  }
}

::placeholder {
  color: var(--dash-text-color-1);
  opacity: 0.7;
}

.wrapper {
  padding: var(--dash-input-padding);
  border-radius: var(--dash-border-radius);
  border: var(--dash-border-style-1);
  transition: var(--dash-focus-border-transition);
  cursor: text;
  background-color: var(--dash-background-2);

  &:focus-within {
    outline: none;
    border: var(--dash-border-style-brand);
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

dash-icon-button {
  --dash-icon-button-padding: var(--dash-spacing-half);
  position: absolute;
  top: 50%;
  right: calc(-1 * var(--dash-spacing-1));
  transform: translate(0, -50%);
  visibility: hidden;

  &.visible {
    visibility: inherit;
  }
}

dash-icon {
  color: var(--dash-text-color-1);
}
