:host {
  display: block;
}

textarea {
  resize: vertical;
}

.date-picker-container {
  display: flex;
  column-gap: var(--dash-spacing-2);
}

.footer {
  display: flex;
  justify-content: flex-end;
  column-gap: var(--dash-spacing-2);
}
