@import '../../assets/styles/_focus-outline.css';

:host {
  display: block;
}

.color-hue-picker {
  position: relative;
  height: 25px;

  &:focus-visible {
    @extend .focus-outline;
  }

  canvas {
    position: absolute;
    top: 7.5px;
    left: 0;
    border-radius: var(--dash-spacing-full);
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: var(--dash-spacing-full);
    border: 2px solid #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.65);

    &:not(.dragging) {
      transition: left 100ms ease-in-out;
    }
  }
}
