@import '../../assets/styles/_reset.css';

:host {
  display: flex;
}

:host(:focus-visible) {
  outline: none;

  .list-item-wrapper {
    border: var(--dash-border-style-focus-visible);
  }
}

:host([disabled]) {
  .list-item {
    color: var(--dash-text-color-3);
    filter: brightness(0.9);
  }
}

:host(:not([disabled]):not([selection-mode='no-selection']):not([is-dragging])) {
  .list-item-wrapper {
    cursor: pointer;

    &:hover {
      outline: none;
      background-color: var(--dash-bg-darken-1);
    }

    &.active {
      background-color: var(--dash-bg-darken-2);
    }
  }
}

:host([drag-enabled]) {
  .list-item-wrapper {
    touch-action: none;
    padding-inline-start: var(--dash-spacing-3);
  }
}

:host([drag-enabled][selection-mode='no-selection']) {
  .list-item-wrapper {
    padding-inline-start: var(--dash-spacing-6);
  }
}

:host([is-dragging]) {
  .list-item-wrapper {
    box-shadow: var(--dash-box-shadow);
  }
}

::slotted([slot='actions-start']) {
  padding-inline-end: var(--dash-spacing-2);
}

.list-item-wrapper {
  position: relative;
  display: flex;
  flex: auto;
  align-items: center;
  background-color: var(--dash-background-1);
  border-radius: var(--dash-border-radius);
  transition: background-color ease-in-out var(--dash-transition-time-fast), var(--dash-focus-border-transition), color ease-in-out var(--dash-transition-time-fast);
  border: var(--dash-border-style-focus-hidden);
  transition: box-shadow ease-out 75ms;

  .grip {
    visibility: hidden;
    cursor: move;
    height: calc(100% + 4px);
    border-radius: var(--dash-border-radius) 0 0 var(--dash-border-radius);
    position: absolute;
    left: -2px;
    padding: 0 var(--dash-spacing-half);

    &:hover {
      background-color: var(--dash-bg-darken-1);
    }

    &:active {
      background-color: var(--dash-bg-darken-2);
    }

    @media (pointer: coarse) {
      visibility: visible;
    }
  }

  &:hover {
    .grip {
      visibility: visible;
    }
  }
}

.list-item {
  font-size: var(--dash-font-size-1);
  padding: var(--dash-spacing-1) var(--dash-spacing-1-half);
  display: flex;
  align-items: center;
  flex: auto;
  user-select: none;
  max-width: 100%;
}

:host([scale='s']) {
  .list-item {
    font-size: var(--dash-font-size-0);
    padding: 0 var(--dash-spacing-1-half);
  }
}

:host([scale='l']) {
  .list-item {
    font-size: var(--dash-font-size-2);
    padding: var(--dash-spacing-1-half) var(--dash-spacing-2);
  }
}

.check {
  color: var(--dash-brand);
  padding-right: var(--dash-spacing-2);
  flex-shrink: 0;
}

.check-invisible {
  visibility: hidden;
}
