:host {
  display: block;
}

.color-picker {
  display: flex;
  flex-direction: column;
  background-color: var(--dash-background-1);
  align-items: center;
  grid-gap: var(--dash-spacing-2);
  box-shadow: var(--dash-box-shadow);
  padding-block-end: var(--dash-spacing-3);

  .gradient-container {
    position: relative;
    width: 250px;
    height: 125px;
    background-color: #fff;

    .color-selector {
      box-sizing: border-box;
      position: absolute;
      pointer-events: none;
      width: 20px;
      height: 20px;
      border-radius: var(--dash-spacing-full);
      border: 2px solid #fff;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.65);
    }
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hue-container {
    flex: 1 1 auto;
    padding-left: var(--dash-spacing-2);
    padding-right: var(--dash-spacing-6);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .selected-color {
      width: 30px;
      height: 30px;
      border-radius: var(--dash-spacing-full);
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.65);
    }
  }

  .separator {
    flex: 1 1 auto;
    margin: var(--dash-spacing-2);
    height: 1px;
    border-top: 1px solid var(--dash-border-1);
  }

  .storage-color-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    padding: 0 var(--dash-spacing-2);
    gap: var(--dash-spacing-2);
  }

  .input-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    gap: var(--dash-spacing-2);
    padding: 0 var(--dash-spacing-2);

    dash-input {
      flex: 1;
    }
  }
}
