:host {
  display: block;
}

.color-picker {
  display: flex;
  flex-direction: column;
  background-color: var(--dash-background-1);
  align-items: center;
  grid-gap: var(--dash-spacing-2);
  box-shadow: var(--dash-box-shadow);

  .gradient-container {
    position: relative;
    width: 250px;
    height: 125px;

    .color-selector {
      box-sizing: border-box;
      position: absolute;
      pointer-events: none;
      width: 20px;
      height: 20px;
      border-radius: var(--dash-spacing-full);
      border: 2px solid var(--dash-text-color-1);
    }
  }
}
