@import '../../assets/styles/_focus-outline.css';

:host {
  display: block;
}

select {
  height: var(--dash-spacing-8);
  padding: var(--dash-spacing-2);
  background-color: var(--dash-background-3);
  border-radius: var(--dash-border-radius);

  &:focus-visible {
    @extend .focus-outline;
  }
}
