:host {
  display: block;
  visibility: hidden;
  z-index: var(--dash-z-index-popover);
  --dash-popover-translate-y: 10px;
  --dash-popover-translate-x: 0;

  &([active]) {
    visibility: visible;
  }

  &([active]) .container {
    pointer-events: initial;
    opacity: 1;
    transform: translate(0);
  }
}

:host([placement='right']) {
  --dash-popover-translate-y: 0px;
  --dash-popover-translate-x: -10px;
}

.container {
  opacity: 0;
  transform: translate(var(--dash-popover-translate-x), var(--dash-popover-translate-y));
  transition: transform ease-out var(--dash-transition-time-fast), opacity ease-out var(--dash-transition-time-fast);
}
