@import '../../../assets/styles/_app.css';

:host {
  display: block;
}

header {
  padding: var(--dash-spacing-2) var(--dash-spacing-3);
  background-color: var(--dash-background-2);
  display: flex;
  align-items: center;
  height: var(--dash-nav-bar-height);
  border-bottom: var(--dash-border-style-1);

  @media only screen and (max-width: 768px) {
    padding: var(--dash-spacing-2) var(--dash-spacing-2);
  }
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
