:host {
  display: flex;
}

.calendar {
  flex: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dash-border-1);
  padding: var(--dash-spacing-3);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: var(--dash-spacing-5);

    .title {
      margin: 0;
    }
  }

  .month {
    flex: auto;
    min-width: 0;
    min-height: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1px;
    row-gap: 1px;
    width: 100%;
    background-color: var(--dash-border-1);
    border: 1px solid var(--dash-border-1);

    .week-day-cell {
      background-color: var(--dash-background-1);
      padding: var(--dash-spacing-1);
      text-align: center;
    }

    .day-cell {
      background-color: var(--dash-background-1);
      padding: var(--dash-spacing-1);
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .day-number {
        display: flex;
        align-self: center;
      }

      dash-list {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        dash-list-item {
          display: block;

          .item-wrapper {
            display: flex;
            align-items: center;
          }
        }
      }

      .event-dot {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 9999px;
        background-color: var(--dash-brand);
        margin-inline-end: var(--dash-spacing-1-half);
      }

      .event-name {
        white-space: nowrap;
      }
    }

    .faded {
      background-color: var(--dash-background-3);
      color: var(--dash-text-color-3);
    }
  }
}

.event-popover {
  background-color: var(--dash-background-1);
  border-radius: var(--dash-border-radius);
  padding: var(--dash-spacing-2);
  box-shadow: var(--dash-box-shadow);

  .event-popover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--dash-spacing-3);
    font-size: var(--dash-font-size-3);
  }
}
