hellodash-modal-note {
  dash-modal {
    --dash-modal-content-padding-x: 0;
  }

  dash-chip {
    --dash-text-color-2: var(--dash-text-color-2-dark);
  }

  .labels-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--dash-spacing-2);
    grid-gap: var(--dash-spacing-2);
  }

  hellodash-text-editor {
    flex: auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 794px;
    flex: auto;
    height: var(--dash-spacing-192);

    &.fullscreen {
      max-width: unset;
      width: 100%;
    }

    .tox {
      &.tox-tinymce {
        border: none;
      }

      .tox-statusbar {
        display: none;
      }
    }

    @media only screen and (max-width: 768px) {
      .tox-fullscreen-btn {
        pointer-events: none;
        opacity: 0;
      }
    }
  }

  .edit-note-btn {
    margin-inline-end: var(--dash-spacing-3);
  }
}
