.focus-outline {
  animation: focusanim var(--dash-transition-time-fast);
  outline: var(--dash-focus-outline);
  outline-offset: var(--dash-focus-outline-offset);
}

@keyframes focusanim {
  0% {
    outline-offset: var(--dash-focus-outline-offset-thin);
  }
  50% {
    outline-offset: var(--dash-focus-outline-max-offset);
  }
  100% {
    outline-offset: var(--dash-focus-outline-offset);
  }
}
