:host {
  display: block;
}

hellodash-route-bin {
  .note-overlay {
    z-index: 10;
  }

  .bin-empty-message {
    margin-top: var(--dash-spacing-16);
    font-size: var(--dash-font-size-6);
    text-align: center;

    @media only screen and (max-width: 768px) {
      font-size: var(--dash-font-size-5);
    }
  }

  .header {
    display: flex;

    .notes-selected {
      display: flex;
      align-items: center;
    }

    .content-end {
      margin-inline-start: auto;
    }
  }
}
