@import '../../../assets/styles/_app.css';
@import '../../../assets/styles/_focus-outline.css';

:host {
  display: flex;
  height: var(--dash-spacing-12);

  &([collapsed]) {
    width: var(--dash-spacing-12);

    button {
      padding-inline-start: 0;
      padding-inline-end: 0;
      border-radius: var(--dash-spacing-full);
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-inline-start: 0;

      dash-icon {
        margin-right: 0;
      }

      .text {
        width: 0;
      }
    }
  }

  &([active]) {
    button {
      background-color: var(--dash-brand-faded);
    }
  }
}

button {
  padding-inline-start: var(--dash-spacing-2);
  padding-inline-end: var(--dash-spacing-2);
  border-radius: var(--dash-border-radius);
  display: flex;
  flex: auto;
  color: var(--dash-text-color-1);
  text-align: left;
  overflow: hidden;
  align-items: center;
  margin-bottom: var(--dash-spacing-1);
  height: 100%;
  margin-inline-start: var(--dash-spacing-1);
  transition: background-color var(--dash-transition-time-fast) ease-out;

  &:hover {
    background-color: var(--dash-bg-darken-1);
  }

  &:focus-visible {
    @extend .focus-outline;
  }

  &:active {
    background-color: var(--dash-bg-darken-2);
  }

  dash-icon {
    flex-shrink: 0;
    color: var(--dash-sidebar-button-icon-color);
    margin-right: var(--dash-spacing-2);
    align-self: center;
  }

  .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
